LLM_PROVIDER=deepseek
KIMI_BASE_URL=https://api.moonshot.cn/v1
KIMI_API_KEY=apikey_11286asdac
KIMI_MODEL_NAME=kimi_k25
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_API_KEY=apikey_11286asdac
DEEPSEEK_MODEL_NAME=deepseek-chat
API_CALL_DELAY=5
RETRY_DELAY=30
BASE_BOOKS_DIR=data/src/classicals
OUTPUT_CSV_FILE=graph/tcm_KG.csv
STATUS_FILE=graph/process/processing_status_KG.json
CHUNK_SIZE_THRESHOLD=8000
CHUNK_OVERLAP=500
LLM_MAX_RETRIES=5